.complete {
  text-decoration: line-through;
}
button:hover {
  background-color: red;
}

li {
  margin-bottom: 1em;
}

button {
  border-radius: 50px;
  font-weight: 600;
  border-style: solid;
  border-color: black;
  margin-left: 1em;
}
